body {
    background-color: #000;
}

.card {
    color: #fff;
    border: 2px solid #fff;
    background-color: #000;
}

.white {
    color: white !important;
}

.logo {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}

black-bg {
    background-color: #000;
}

.navbar-nav a {
    transition: transform 0.3s ease-in-out;
}

.navbar-nav a:hover {
    transform: scale(1.2);
}

svg {
    transition: transform 0.3s ease-in-out;
}

svg:hover {
    transform: scale(1.3);
}

.footer li {
    transition: transform 0.3s ease-in-out;
}

.footer li:hover {
    transform: scale(1.2);
}

.footer {
    border-top: solid 1px white;
}

.header {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}